@model ProgrammingProject.Areas.Manager.Models.SittingType.SittingType
<h1>CreateSitting type</h1>
<form asp-action="Create">
    <div>
        <label asp-for="Name">SittingType</label>
        <input asp-for="Name" />
    </div>

    <input type="submit" value="Add" class="btn btn-dark" />

</form>