@model ProgrammingProject.Areas.Manager.Models.SittingType.Edit

<h1>Edit Sitting Type</h1>
<form asp-action="Edit">
    <div>
        <label asp-for="Name">Sitting Type</label>
        <input asp-for="Name" />
    </div>

    <input type="submit" value="Save" class="btn btn-dark" />
    <input type="hidden" asp-for="Id" />


</form>