@{
    ViewData["Title"] = "About";
    Layout = null;
}
<div class="text-center">
    <h2 class="display-6">About</h2>
</div>

<div class="d-flex justify-content-center mt-4 row">

    <p class="col-12 about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales vel nibh quis vestibulum. Etiam id massa elit. Quisque dolor lectus, venenatis et iaculis id, viverra rhoncus nunc. Morbi laoreet neque sit amet nunc vestibulum viverra. Duis fermentum sem at mattis facilisis. Nulla pretium ex eget dolor fermentum scelerisque. Quisque ac lacus risus. Vestibulum facilisis mattis ligula, ut sodales tellus eleifend a. Praesent lacinia libero sem, id maximus turpis bibendum non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce quis elit vitae lectus posuere fermentum quis convallis sem. Aliquam condimentum pulvinar nibh, eu tempor nisi mattis non. Proin pharetra iaculis tortor. Morbi vestibulum, nulla at tempus gravida, mi ipsum rutrum ex, vitae luctus nulla diam et tortor. Ut justo ante, ullamcorper a eleifend ac, sollicitudin sit amet ipsum. Nullam lobortis consectetur mauris id laoreet.
    </p>
    <p class="col-12 about">

        Nullam quis porttitor massa. Mauris ultricies nulla ac elit condimentum porttitor. Etiam mollis eros varius elit aliquam, id laoreet ipsum pellentesque. Vestibulum at sem id nulla maximus vehicula sed pretium metus. Ut aliquet iaculis sodales. Aenean blandit turpis ut eleifend tincidunt. Integer eleifend aliquet odio, quis euismod tellus cursus quis. Maecenas hendrerit eget magna dapibus malesuada. Donec a est non urna condimentum sagittis eu eu ante. Integer gravida hendrerit arcu, vel condimentum sapien sodales vel. Donec eu tortor leo. Ut massa mi, finibus non condimentum eget, tincidunt a lacus. Phasellus porttitor, nunc vitae sagittis pellentesque, leo lectus tincidunt leo, in lobortis quam dolor ut est. Nunc sed laoreet massa.
    </p>
</div>

