@{
    ViewData["Title"] = "Contact Us";
    Layout = null;
}
<div class="text-center">
    <h2 class="display-6">Contact Us</h2>
</div>
<div class="d-flex justify-content-center mt-4">
    <p> Call: 9876 5432</p>
    <p> Email: contact@@crocodiledilemma.com.au</p>
</div>
