@{
    ViewData["Title"] = "Home Page";
}


<div class="body">
    <div class="text-center">
        <h2 class="display-6">Cafe & Bistro</h2>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <p class="w-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec imperdiet orci. Curabitur sed augue neque. Suspendisse enim metus, sollicitudin a auctor ac, congue vitae nibh. Integer pharetra pharetra efficitur.</p>
    </div>
</div>