@{
    ViewData["Title"] = "Menu";
    Layout = null;
}
<div class="text-center">
    <h2 class="display-6">Menu</h2>
</div>
<div class="d-flex justify-content-center mt-4">
    <a target="_blank" href="~/photos/MockMenuLarge.jpg" class="shadow">
        <img src="~/photos/MockMenu.jpg" class="menu" />
    </a>
</div>