@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}
<div class="text-center">
    <h2 class="display-6">@ViewData["Title"]</h2>
</div>
<div class="d-flex justify-content-center mt-4">
    <p>Use this page to detail your site's privacy policy.</p>
</div>
