@{
    ViewData["Title"] = "What's On";
    Layout = null;
}
<div class="text-center">
    <h2 class="display-6">What's On</h2>
</div>
<div class="d-flex justify-content-center mt-4">
    <p>Nothing yet. Watch this space</p>
</div>
