@model ProgrammingProject.Areas.Manager.Models.Area.Create

<h1>CreateArea</h1>
<form asp-action="Create">
    <div>
        <label asp-for="Name">Area</label>
        <input asp-for="Name"/>
    </div>
   
    <input type="submit" value="Add" class="btn btn-dark" />
   
</form>

